html, * {
  font-family: 'Graduate', cursive;
  box-sizing: border-box;
}

body {
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0;
	background: url('https://i.imgur.com/dhWGTYL.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flexbox;
}

img {
	width: 100%;
	height: 95%;
  border-radius: 1vmin;
	object-fit: cover;
}

h1 {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2.5vmin;
	color: rgb(201	0	8);
	background-color: white;
	border: 1vmin solid rgb(2,	34, 86);
}
    
.scoreboard {
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 34, 86);
	color: white;
	height: 15vmin;
	margin-bottom: 3vmin;
}

.scoreboard > div {
	margin: 5vmin;
}

.lives {
	display: flex;
	text-align: center;
	align-content: center;
	justify-content: center;
	background-color: black;
	color: rgb(188,	37, 26);
	width: 14vmin;
	height: 7vmin;
	font-size: 5.5vmin;
	font-family: 'Orbitron', sans-serif;
	margin: auto;
	margin-top: -2vmin;
	margin-bottom: 8vmin;
}

.lives-title {
	text-align: center;
}

.timer {
	display: flex;
	background-color: rgb(0, 0, 0);
	width: 22vmin;
	height: 8vmin;
	color: rgb(188	37 26);
	font-size: 6vmin;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	margin-top: -2vmin;
}

.reset-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(201, 0, 8);
	color: white;
	font-weight: bold;
	font-size: 1.5vmin;
	width: 9vmin;
	height: 4vmin;
	margin: auto;
	margin-top: -4vmin;
}

.reset-btn:hover {
	background-color: rgb(223, 67, 67);
}

.moves {
	display: flex;
	text-align: center;
	align-content: center;
	justify-content: center;
	background-color: black;
	color: rgb(188	37 26);
	width: 14vmin;
	height: 7vmin;
	font-size: 5.5vmin;
	font-family: 'Orbitron', sans-serif;
	margin: auto;
	margin-top: -2vmin;
	margin-bottom: 8vmin;
}

.moves-title {
	text-align: center;
}

main {
	display: grid;
  grid-template-columns: repeat(8, 8vmin);
  grid-template-rows: repeat(8, 8vmin);
  gap: 1vmin;
	text-align: center;
	align-content: center;
	justify-content: center;
}

img:hover {
	transform: scale(1.05);
	border: 0.7vmin solid rgb(201, 0, 8);
}